.div {
	height: 740px;
	background-color: rgba(#000, .3);
}

.slider-section {
	position: relative;
	height: 100vh;
	background: radial-gradient(#A3F2EB 10%, transparent 60%) center no-repeat;
	background-size: cover;
	overflow: hidden;
}