extends pug/template

block content
	.div
	.container
		.slider-section
			.slider-descriptions
				.slider-description
					p Step 1
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, id! Et eveniet numquam nulla reprehenderit!
				.slider-description
					p Step 2
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta placeat possimus eos! Fugit, illum ab.
				.slider-description
					p Step 3
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident illo, enim veniam id obcaecati harum!
				.slider-description
					p Step 4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid hic obcaecati nostrum, quidem doloribus odit.
				.slider-description
					p Step 5
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore adipisci ullam id totam molestias voluptas.
			.slider
				.slide.slide1
					img(src="assets/images/1.png", alt="").detail
				.slide.slide2
					img(src="assets/images/3_0_1.png", alt="").detail
					img(src="assets/images/3_0_2.png", alt="").piece
				.slide.slide3
					img(src="assets/images/303.png", alt="").detail
					img(src="assets/images/3_1_1.png", alt="").piece
				.slide.slide4
					img(src="assets/images/304.png", alt="").detail
					img(src="assets/images/4_1.png", alt="").piece
				.slide.slide5
					img(src="assets/images/5.png", alt="").detail
			button(type="button").slider-skip skip
	.div