%img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
	width: auto;
}

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	font: 300 16px 'Open Sans', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}